%h1 All reviews
%table#reviews
  %thead
    %tr
      %th Movie
      %th Moviegoer
      %th Potatoes
      %th Comments
    %tbody
      -@reviews.each do |review|
        %tr
          %td= review.movie
          %td= review.moviegoer
          %td= review.potatoes
          %td= review.comments
       